# Clean Attribute Stats

There are a lot of columns under this category. They are broadly classified under

* attacking
* skills
* movement
* power
* mentality
* defending
* goalkeeping
* base stats ( this is not included in the 'total_stats' column calculation
* others

I'll go through them through each category

In [55]:
# Imports

import pandas as pd
import numpy as np
import re

In [56]:
# Load data from last checkpoint

fifa = pd.read_csv(r"C:\Users\T. Barnes\Documents\Data Science\DataCleaningChallenge\Working_on\rawfifa_thor.csv")
fifa.head()

C:\Users\T. Barnes\AppData\Local\Temp\ipykernel_7888\3125319299.py:3: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  fifa = pd.read_csv(r"C:\Users\T. Barnes\Documents\Data Science\DataCleaningChallenge\Working_on\rawfifa_thor.csv")

,id,name,longname,photourl,playerurl,nationality,age,ova,pot,club,...,a_w,d_w,ir,pac,sho,pas,dri,def,phy,hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,FC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,Juventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,Atlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,Manchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,Paris Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [57]:
# Get estimate of range of column indexes
# Get the column names and find the index of the first and last column names in range of interest

flist = list(fifa.columns)

attack = flist.index('attacking')
keep = flist.index('goalkeeping')

In [58]:
print(f"range is {attack}:{keep}"
     )

range is 22:57

The range above contains all the columns of interest except for those under the goalkeeping category

In [59]:
# Categorize all columns of interest

att_stats = fifa.iloc[:, 22:28]
skill_stats = fifa.iloc[:, 28:34]
move_stats = fifa.iloc[:, 34:40]
pow_stats = fifa.iloc[:, 40:46]
ment_stats = fifa.iloc[:, 46:53]
def_stats = fifa.iloc[:, 53:57]
gk_stats = fifa.iloc[:, 57:63]
tot_stats = fifa.total_stats
base_stats = fifa[['base_stats', 'pac', 'sho', 'pas', 'dri', 'def', 'phy']]

# I've declared the base_stats as above because the related columns do not follow each other

## attack stats

* check that other stats do not exceed range 0 - 100
* check that stats sum up to 'attacking'

Since it'll be the same process for all categories, I'll create functions for each of the above. Cleaning don tire me, so I can't think of any clever names at the moment. Function will be called is_same and in_range

In [60]:
# Function to check sameness

def is_same(dataframe):
    '''
    Determines if the subsequent columns sum up to first column values
    '''
    
    total = list(dataframe.iloc[:, 1:].sum(axis=1))

    # Check sameness of values with 'attacking' col
    same_total = [True if x == y else False for x, y in zip(total, list(dataframe.iloc[:, 0]))]

    # Aggregate columns that fail the sameness test
    diff_index = [x for x in same_total if not x]
    
    return diff_index

In [61]:
# Function to check range

def in_range(dataframe):
    '''
    Checks that range of values is in expected range of 0 - 100
    '''
    checkout = []
    for x in dataframe.columns:
        if dataframe[x].min() < 0 | dataframe[x].max() > 100:
            checkout.append(x)

    return checkout

### Expected results

for is_same(dataframe), an empty list is a positive result

for in_range(dataframe), a list of one element is a positive result

In [62]:
# Check range of values

in_range(att_stats)

['attacking']


#### Check Sum

In [63]:
diff_index = is_same(att_stats)
diff_index

[]

An empty list means that there are no values that failed the sameness test. Meaning that everything checks out

## skill
skill_stats

In [64]:
# Check range of values

in_range(skill_stats)

['skill']

Checks out.

In [65]:
# Check sum
diff_index = is_same(skill_stats)
diff_index

[]

Checks out

## movement
move_stats

In [66]:
# Check range
in_range(move_stats)

['movement']

In [67]:
# Check sum
is_same(move_stats)

[]

All check out

## power
pow_stats

In [68]:
# Check range
in_range(pow_stats)

['power']

In [69]:
# Check sum
is_same(pow_stats)

[]

Everything checks out

## mentality
ment_stats

In [70]:
# Check range
in_range(ment_stats)

['mentality']

In [71]:
# Check sum
is_same(ment_stats)

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 ...]

In [72]:
# Check length of result
len(is_same(ment_stats))

18979

The above means that none of the sums are the same, which makes me suspect that there is either a missing or extra column

In [73]:
# Find difference of sums
diff = list(ment_stats.iloc[:, 1:].sum(axis=1) - ment_stats.iloc[:,0])
diff

[96,
 95,
 68,
 91,
 93,
 88,
 90,
 65,
 84,
 70,
 90,
 84,
 84,
 66,
 70,
 90,
 88,
 91,
 80,
 85,
 85,
 84,
 70,
 91,
 69,
 82,
 90,
 88,
 89,
 84,
 81,
 87,
 83,
 85,
 86,
 84,
 88,
 88,
 67,
 84,
 93,
 88,
 65,
 86,
 92,
 85,
 65,
 86,
 84,
 65,
 82,
 83,
 94,
 87,
 87,
 87,
 89,
 57,
 92,
 85,
 80,
 82,
 85,
 84,
 78,
 84,
 82,
 81,
 82,
 68,
 80,
 80,
 79,
 82,
 86,
 84,
 81,
 82,
 85,
 83,
 90,
 83,
 86,
 86,
 84,
 66,
 83,
 80,
 86,
 75,
 86,
 45,
 86,
 81,
 78,
 80,
 86,
 86,
 85,
 80,
 75,
 61,
 84,
 75,
 83,
 83,
 78,
 76,
 83,
 90,
 75,
 86,
 82,
 75,
 82,
 83,
 86,
 84,
 82,
 81,
 82,
 80,
 58,
 80,
 79,
 85,
 85,
 84,
 83,
 85,
 85,
 80,
 82,
 81,
 86,
 78,
 62,
 67,
 92,
 66,
 80,
 81,
 79,
 78,
 80,
 78,
 81,
 75,
 84,
 89,
 87,
 77,
 74,
 76,
 85,
 62,
 59,
 75,
 82,
 77,
 81,
 81,
 82,
 61,
 80,
 76,
 87,
 82,
 76,
 78,
 82,
 82,
 81,
 74,
 80,
 82,
 81,
 79,
 78,
 86,
 82,
 77,
 76,
 65,
 81,
 79,
 55,
 81,
 80,
 83,
 48,
 82,
 77,
 79,
 40,
 85,
 87,
 62,
 81,
 78,
 85,
 80,
 83,
 84,
 82,
 85,
 80,
 81,
 64,
 90,
 83,
 89,
 85,
 82,
 76,
 73,
 81,
 39,
 71,
 81,
 82,
 77,
 79,
 83,
 58,
 75,
 82,
 77,
 72,
 82,
 81,
 55,
 82,
 63,
 83,
 71,
 62,
 74,
 77,
 76,
 61,
 77,
 60,
 67,
 83,
 84,
 62,
 80,
 64,
 76,
 64,
 65,
 64,
 87,
 84,
 79,
 69,
 79,
 78,
 52,
 64,
 83,
 70,
 81,
 75,
 83,
 80,
 80,
 79,
 82,
 53,
 90,
 84,
 80,
 82,
 76,
 74,
 79,
 75,
 82,
 82,
 79,
 79,
 75,
 74,
 81,
 81,
 78,
 78,
 82,
 79,
 74,
 70,
 74,
 72,
 77,
 59,
 83,
 80,
 78,
 78,
 83,
 79,
 82,
 81,
 79,
 78,
 81,
 75,
 74,
 85,
 73,
 62,
 79,
 56,
 76,
 81,
 84,
 80,
 81,
 78,
 78,
 65,
 81,
 73,
 84,
 59,
 72,
 78,
 64,
 75,
 74,
 76,
 80,
 76,
 79,
 84,
 70,
 80,
 84,
 80,
 61,
 74,
 77,
 81,
 61,
 79,
 78,
 81,
 80,
 89,
 75,
 87,
 84,
 84,
 87,
 84,
 78,
 82,
 72,
 84,
 66,
 63,
 63,
 85,
 75,
 79,
 44,
 82,
 70,
 74,
 82,
 64,
 76,
 67,
 82,
 68,
 77,
 79,
 71,
 81,
 87,
 74,
 80,
 79,
 56,
 76,
 74,
 48,
 77,
 65,
 77,
 79,
 72,
 74,
 76,
 77,
 75,
 54,
 75,
 76,
 78,
 72,
 55,
 75,
 80,
 80,
 83,
 41,
 84,
 80,
 78,
 80,
 68,
 74,
 83,
 69,
 81,
 74,
 67,
 75,
 72,
 77,
 82,
 82,
 86,
 73,
 75,
 53,
 75,
 78,
 72,
 70,
 84,
 78,
 82,
 69,
 77,
 67,
 78,
 67,
 83,
 77,
 73,
 63,
 79,
 77,
 78,
 77,
 80,
 76,
 78,
 70,
 74,
 78,
 75,
 79,
 64,
 76,
 78,
 69,
 78,
 69,
 78,
 78,
 76,
 79,
 80,
 77,
 75,
 76,
 76,
 82,
 77,
 82,
 76,
 63,
 81,
 69,
 83,
 75,
 82,
 62,
 84,
 83,
 78,
 80,
 62,
 78,
 82,
 77,
 69,
 82,
 75,
 86,
 82,
 79,
 82,
 90,
 78,
 77,
 67,
 84,
 86,
 81,
 80,
 45,
 74,
 81,
 54,
 76,
 78,
 86,
 82,
 82,
 78,
 32,
 76,
 75,
 76,
 77,
 59,
 78,
 82,
 83,
 78,
 77,
 70,
 74,
 79,
 80,
 77,
 76,
 67,
 71,
 77,
 72,
 75,
 73,
 64,
 76,
 68,
 67,
 76,
 69,
 78,
 76,
 76,
 72,
 80,
 76,
 74,
 78,
 75,
 80,
 71,
 76,
 80,
 75,
 70,
 80,
 79,
 73,
 77,
 71,
 80,
 79,
 67,
 75,
 83,
 67,
 72,
 83,
 73,
 78,
 84,
 77,
 70,
 77,
 81,
 81,
 80,
 76,
 80,
 78,
 76,
 69,
 75,
 32,
 74,
 84,
 63,
 77,
 80,
 67,
 56,
 75,
 83,
 70,
 79,
 49,
 76,
 74,
 78,
 76,
 78,
 46,
 79,
 77,
 79,
 81,
 76,
 79,
 72,
 71,
 70,
 73,
 67,
 32,
 83,
 71,
 76,
 72,
 77,
 75,
 80,
 82,
 78,
 60,
 70,
 62,
 81,
 76,
 69,
 78,
 84,
 77,
 73,
 80,
 69,
 80,
 69,
 73,
 82,
 75,
 71,
 67,
 74,
 78,
 72,
 82,
 80,
 79,
 45,
 78,
 70,
 80,
 80,
 78,
 75,
 71,
 71,
 72,
 78,
 82,
 80,
 79,
 75,
 70,
 85,
 75,
 76,
 65,
 80,
 71,
 74,
 86,
 57,
 75,
 63,
 58,
 81,
 57,
 64,
 82,
 78,
 78,
 77,
 73,
 72,
 84,
 70,
 79,
 80,
 65,
 76,
 56,
 60,
 78,
 77,
 70,
 77,
 68,
 77,
 62,
 78,
 80,
 66,
 74,
 79,
 78,
 78,
 59,
 76,
 80,
 68,
 64,
 73,
 74,
 74,
 73,
 75,
 74,
 76,
 69,
 80,
 78,
 72,
 60,
 62,
 71,
 80,
 66,
 70,
 71,
 77,
 75,
 77,
 74,
 79,
 72,
 81,
 78,
 74,
 76,
 81,
 67,
 76,
 55,
 72,
 70,
 72,
 78,
 56,
 72,
 76,
 74,
 68,
 65,
 71,
 81,
 78,
 74,
 75,
 77,
 74,
 67,
 68,
 74,
 75,
 73,
 81,
 72,
 60,
 76,
 74,
 80,
 77,
 77,
 67,
 81,
 65,
 74,
 70,
 75,
 74,
 75,
 71,
 77,
 76,
 76,
 72,
 70,
 60,
 72,
 77,
 81,
 77,
 79,
 74,
 74,
 72,
 69,
 45,
 74,
 80,
 76,
 72,
 75,
 69,
 79,
 72,
 76,
 75,
 77,
 65,
 81,
 72,
 60,
 53,
 72,
 71,
 73,
 73,
 86,
 71,
 82,
 73,
 77,
 75,
 44,
 80,
 72,
 73,
 77,
 69,
 78,
 80,
 69,
 70,
 79,
 70,
 62,
 75,
 76,
 74,
 74,
 70,
 81,
 69,
 76,
 65,
 72,
 86,
 80,
 76,
 81,
 81,
 72,
 70,
 76,
 44,
 71,
 72,
 72,
 80,
 58,
 65,
 77,
 82,
 73,
 74,
 77,
 77,
 77,
 82,
 74,
 70,
 83,
 85,
 84,
 76,
 75,
 64,
 73,
 75,
 70,
 70,
 73,
 75,
 82,
 74,
 80,
 81,
 56,
 73,
 76,
 75,
 86,
 76,
 48,
 68,
 78,
 74,
 75,
 75,
 76,
 74,
 63,
 78,
 76,
 74,
 74,
 72,
 69,
 83,
 88,
 74,
 80,
 77,
 69,
 84,
 81,
 80,
 62,
 73,
 68,
 31,
 72,
 67,
 73,
 66,
 56,
 80,
 75,
 81,
 74,
 76,
 86,
 76,
 79,
 65,
 51,
 67,
 61,
 69,
 60,
 58,
 69,
 70,
 57,
 70,
 56,
 78,
 72,
 79,
 81,
 45,
 50,
 78,
 78,
 81,
 76,
 77,
 75,
 75,
 73,
 25,
 70,
 75,
 67,
 77,
 78,
 64,
 74,
 73,
 67,
 67,
 78,
 80,
 77,
 75,
 80,
 70,
 62,
 72,
 61,
 44,
 80,
 65,
 73,
 70,
 75,
 69,
 78,
 78,
 76,
 32,
 75,
 78,
 ...]

Since the sum of the columns is greater than the initial column, I can conclude that there is an extra column in the category.

Among the columns above, the only one that looks out of place is 'interceptions' which should be in the 'defending' category. I will now try to confirm this

In [74]:
# Check for extra column. ie the column with same values as the diff calculated above
# Should indicate 'interceptions' as the errant column since 'interceptions' is a defensive statistic

for col in ment_stats.columns:
    if diff == list(ment_stats[col]):
        print(col)

composure

The above, I think, indicates an error which means that the total was calculated with a wrong set of values. Therefore, after moving the interceptions column, I will also recalculate it and other affected columns

In [75]:
# Move 'interceptions' to def_stats

def_stats['interceptions'] = list(ment_stats.interceptions)
def_stats.head()

   defending  marking  standing_tackle  sliding_tackle  interceptions
0         91       32               35              24             40
1         84       28               32              24             29
2         57       27               12              18             19
3        186       68               65              53             66
4         94       35               30              29             36

In [76]:
# Drop from ment_stats

ment_stats.drop(axis=1, labels='interceptions', inplace=True)
ment_stats

       mentality  aggression  positioning  vision  penalties  composure
0            347          44           93      95         75         96
1            353          63           95      82         84         95
2            140          34           11      65         11         68
3            408          76           88      94         84         91
4            356          51           87      90         92         93
...          ...         ...          ...     ...        ...        ...
18974        192          48           28      28         38         44
18975        193          40           47      47         36         38
18976        230          56           47      43         42         43
18977        190          31           42      46         46         45
18978        185          45           33      33         27         33

[18979 rows x 6 columns]

In [77]:
# Recalculate 'mentality' column

ment_stats.mentality = ment_stats.iloc[:, 1:].sum(axis=1)

In [78]:
ment_stats.head()

   mentality  aggression  positioning  vision  penalties  composure
0        403          44           93      95         75         96
1        419          63           95      82         84         95
2        189          34           11      65         11         68
3        433          76           88      94         84         91
4        413          51           87      90         92         93


## defending
def_stats

Since a new column was added here, I will just recalculate the sum. However, range will still be checked

In [79]:
# Check range
in_range(def_stats)

['defending']

It's in order

In [80]:
# Recalculate sum

def_stats.defending = def_stats.iloc[:, 1:].sum(axis=1)
def_stats.head()

   defending  marking  standing_tackle  sliding_tackle  interceptions
0        131       32               35              24             40
1        113       28               32              24             29
2         76       27               12              18             19
3        252       68               65              53             66
4        130       35               30              29             36

## goalkeeping
gk_stats

In [81]:
# Check range
in_range(gk_stats)

['goalkeeping']

In [82]:
# Check sum
is_same(gk_stats)

[]

## total_stats
tot_stats

Recalculate tot_stats to reflect the changes made.

In [83]:
# Make df of totals

# Join aggregate stats columns in a list
big_list = [skill_stats.iloc[:, 0]
            ,move_stats.iloc[:, 0]
            ,pow_stats.iloc[:, 0]
            ,ment_stats.iloc[:, 0]
            ,def_stats.iloc[:, 0]
            ,gk_stats.iloc[:, 0]
            ]
# for x in total_list:
#     x.index.rename('key', inplace=True)

# Create df
big_df = pd.DataFrame(att_stats.iloc[:, 0])
# big_df.index.rename('key', inplace=True)

# Join columns to df
for x in big_list:
    big_df = big_df.join(x)

In [84]:
# Recalculate tot_states
tot_stats = big_df.sum(axis=1)
tot_stats

0        2327
1        2316
2        1481
3        2395
4        2268
         ...
18974    1230
18975    1353
18976    1381
18977    1288
18978    1248
Length: 18979, dtype: int64

Three columns were changed:
* mentality
* defending
* total_stats

I will now change the corresponding columns in the fifa dataframe

In [85]:
# Change columns

fifa.mentality = ment_stats.mentality
fifa.defending = def_stats.defending
fifa.total_stats = tot_stats

Note that the 'interceptions' column will have to be moved to behind the 'defending' column to avoid confusion


## base stats

In [86]:
# Check range
in_range(base_stats)

['base_stats']

In [87]:
# Check sum
is_same(base_stats)

[]

Those all check out

## others

* w_f, sm, ir
* a_w, d_w
* hits

### w_f, sm, ir

* remove '★'
* convert to int

In [88]:
fifa[['w_f', 'sm', 'ir']].head()

   w_f  sm   ir
0  4 ★  4★  5 ★
1  4 ★  5★  5 ★
2  3 ★  1★  3 ★
3  5 ★  4★  4 ★
4  5 ★  5★  5 ★

In [89]:
# Remove ★ and change to int

fifa.w_f = [int(x.replace("★", "")) for x in fifa.w_f]
fifa.sm = [int(x.replace("★", "")) for x in fifa.sm]
fifa.ir = [int(x.replace("★", "")) for x in fifa.ir]

fifa[['w_f', 'sm', 'ir']].head()

   w_f  sm  ir
0    4   4   5
1    4   5   5
2    3   1   3
3    5   4   4
4    5   5   5

### a_w, d_w

In [90]:
fifa[['a_w', 'd_w']].head()

      a_w     d_w
0  Medium     Low
1    High     Low
2  Medium  Medium
3    High    High
4    High  Medium

In [91]:
# Check distinct values in a_w

fifa.a_w.unique()

array(['Medium', 'High', 'Low'], dtype=object)

In [92]:
# Check distinct values in d_w

fifa.a_w.unique()

array(['Medium', 'High', 'Low'], dtype=object)

### hits

* Fillna with 0
* float to int
* convert string to int

In [93]:
help(pd.DataFrame.fillna)

Help on function fillna in module pandas.core.frame:

fillna(self, value: 'object | ArrayLike | None' = None, method: 'FillnaOptions | None' = None, axis: 'Axis | None' = None, inplace: 'bool' = False, limit=None, downcast=None) -> 'DataFrame | None'
    Fill NA/NaN values using the specified method.

    Parameters
    ----------
    value : scalar, dict, Series, or DataFrame
        Value to use to fill holes (e.g. 0), alternately a
        dict/Series/DataFrame of values specifying which value to use for
        each index (for a Series) or column (for a DataFrame).  Values not
        in the dict/Series/DataFrame will not be filled. This value cannot
        be a list.
    method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
        Method to use for filling holes in reindexed Series
        pad / ffill: propagate last valid observation forward to next valid
        backfill / bfill: use next valid observation to fill gap.
    axis : {0 or 'index', 1 or 'columns'}
        Axis along which to fill missing values.
    inplace : bool, default False
        If True, fill in-place. Note: this will modify any
        other views on this object (e.g., a no-copy slice for a column in a
        DataFrame).
    limit : int, default None
        If method is specified, this is the maximum number of consecutive
        NaN values to forward/backward fill. In other words, if there is
        a gap with more than this number of consecutive NaNs, it will only
        be partially filled. If method is not specified, this is the
        maximum number of entries along the entire axis where NaNs will be
        filled. Must be greater than 0 if not None.
    downcast : dict, default is None
        A dict of item->dtype of what to downcast if possible,
        or the string 'infer' which will try to downcast to an appropriate
        equal type (e.g. float64 to int64 if possible).

    Returns
    -------
    DataFrame or None
        Object with missing values filled or None if ``inplace=True``.

    See Also
    --------
    interpolate : Fill NaN values using interpolation.
    reindex : Conform object to new index.
    asfreq : Convert TimeSeries to specified frequency.

    Examples
    --------
    >>> df = pd.DataFrame([[np.nan, 2, np.nan, 0],
    ...                    [3, 4, np.nan, 1],
    ...                    [np.nan, np.nan, np.nan, np.nan],
    ...                    [np.nan, 3, np.nan, 4]],
    ...                   columns=list("ABCD"))
    >>> df
         A    B   C    D
    0  NaN  2.0 NaN  0.0
    1  3.0  4.0 NaN  1.0
    2  NaN  NaN NaN  NaN
    3  NaN  3.0 NaN  4.0

    Replace all NaN elements with 0s.

    >>> df.fillna(0)
         A    B    C    D
    0  0.0  2.0  0.0  0.0
    1  3.0  4.0  0.0  1.0
    2  0.0  0.0  0.0  0.0
    3  0.0  3.0  0.0  4.0

    We can also propagate non-null values forward or backward.

    >>> df.fillna(method="ffill")
         A    B   C    D
    0  NaN  2.0 NaN  0.0
    1  3.0  4.0 NaN  1.0
    2  3.0  4.0 NaN  1.0
    3  3.0  3.0 NaN  4.0

    Replace all NaN elements in column 'A', 'B', 'C', and 'D', with 0, 1,
    2, and 3 respectively.

    >>> values = {"A": 0, "B": 1, "C": 2, "D": 3}
    >>> df.fillna(value=values)
         A    B    C    D
    0  0.0  2.0  2.0  0.0
    1  3.0  4.0  2.0  1.0
    2  0.0  1.0  2.0  3.0
    3  0.0  3.0  2.0  4.0

    Only replace the first NaN element.

    >>> df.fillna(value=values, limit=1)
         A    B    C    D
    0  0.0  2.0  2.0  0.0
    1  3.0  4.0  NaN  1.0
    2  NaN  1.0  NaN  3.0
    3  NaN  3.0  NaN  4.0

    When filling using a DataFrame, replacement happens along
    the same column names and same indices

    >>> df2 = pd.DataFrame(np.zeros((4, 4)), columns=list("ABCE"))
    >>> df.fillna(df2)
         A    B    C    D
    0  0.0  2.0  0.0  0.0
    1  3.0  4.0  0.0  1.0
    2  0.0  0.0  0.0  NaN
    3  0.0  3.0  0.0  4.0

    Note that column D is not affected since it is not present in df2.

In [94]:
# Fill null values with 0
fifa.fillna(value={'hits': '0'}, inplace=True)

In [95]:
# Change to ints
fifa.hits = [int(x) for x in fifa.hits]

ValueError: invalid literal for int() with base 10: '1.6K'

Problem. As it turns out, there are K values in this column, just like there were in the wages and release_clause columns. I'll check to see if there are also M values

In [98]:
# First convert all values to string equivalents to enable string methods for column
fifa.hits = [str(int(x)) if type(x) == float else str(x) for x in fifa.hits ]

In [103]:
# Search for M in 'hits' column
fifa[fifa['hits'].str.contains("M")]

Empty DataFrame
Columns: [id, name, longname, photourl, playerurl, nationality, age, ova, pot, club, is_loan_player, positions, height_cm, weight_kg, preferred_foot, bov, best_position, contract_start, contract_end, value, wage, release_clause, attacking, crossing, finishing, heading_accuracy, short_passing, volleys, skill, dribbling, curve, fk_accuracy, long_passing, ball_control, movement, acceleration, sprint_speed, agility, reactions, balance, power, shot_power, jumping, stamina, strength, long_shots, mentality, aggression, interceptions, positioning, vision, penalties, composure, defending, marking, standing_tackle, sliding_tackle, goalkeeping, gk_diving, gk_handling, gk_kicking, gk_positioning, gk_reflexes, total_stats, base_stats, w_f, sm, a_w, d_w, ir, pac, sho, pas, dri, def, phy, hits]
Index: []

[0 rows x 77 columns]

No M values. All that is needed is to remove "k" in the values and multiply by 1000

In [105]:
# Multiply values
fifa.hits = [str(int(float(x.replace("K", "")) * 1000)) if "K" in x else x for x in fifa.hits]

In [106]:
# Convert to int

fifa.hits = [int(x) for x in fifa.hits]

# Column manipulations

* drop photourl and playerurl columns
* move hits column to immediately after longname
* move 'pac', 'sho', 'pas', 'dri', 'def', 'phy' columns to just after 'base_stats'
* move 'interceptions' to after 'defending'

In [111]:
# Drop columns

fifa.drop(columns=['photourl', 'playerurl'], inplace=True)

In [112]:
# Existing order of columns

fifa.columns

Index(['id', 'name', 'longname', 'nationality', 'age', 'ova', 'pot', 'club',
       'is_loan_player', 'positions', 'height_cm', 'weight_kg',
       'preferred_foot', 'bov', 'best_position', 'contract_start',
       'contract_end', 'value', 'wage', 'release_clause', 'attacking',
       'crossing', 'finishing', 'heading_accuracy', 'short_passing', 'volleys',
       'skill', 'dribbling', 'curve', 'fk_accuracy', 'long_passing',
       'ball_control', 'movement', 'acceleration', 'sprint_speed', 'agility',
       'reactions', 'balance', 'power', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'mentality', 'aggression', 'interceptions',
       'positioning', 'vision', 'penalties', 'composure', 'defending',
       'marking', 'standing_tackle', 'sliding_tackle', 'goalkeeping',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes', 'total_stats', 'base_stats', 'w_f', 'sm', 'a_w', 'd_w',
       'ir', 'pac', 'sho', 'pas', 'dri', 'def', 'phy', 'hits'],
      dtype='object')

In [113]:
len(fifa.columns)

75

In [118]:
# New order

new_order = ['id', 'name', 'longname', 'hits', 'nationality', 'age', 'pot', 'ova', 'bov', 'club',
             'contract_start', 'contract_end', 'is_loan_player', 'wage', 'value', 'release_clause',
             'height_cm', 'weight_kg', 'positions', 'best_position', 'preferred_foot',
             'attacking', 'crossing', 'finishing', 'heading_accuracy', 'short_passing', 'volleys',
             'skill', 'dribbling', 'curve', 'fk_accuracy', 'long_passing', 'ball_control',
             'movement', 'acceleration', 'sprint_speed', 'agility', 'reactions', 'balance',
             'power', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots',
             'mentality', 'aggression', 'positioning', 'vision', 'penalties', 'composure',
             'defending', 'marking', 'standing_tackle', 'sliding_tackle', 'interceptions',
             'goalkeeping', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning', 'gk_reflexes',
             'total_stats', 'base_stats', 'pac', 'sho', 'pas', 'dri', 'def', 'phy',
             'w_f', 'sm', 'ir', 'a_w', 'd_w']

len(new_order)

75

In [119]:
fifa = fifa[new_order]

In [120]:
fifa.head()

,id,name,longname,hits,nationality,age,pot,ova,bov,club,...,sho,pas,dri,def,phy,w_f,sm,ir,a_w,d_w
0,158023,L. Messi,Lionel Messi,771,Argentina,33,93,93,93,FC Barcelona,...,92,91,95,38,65,4,4,5,Medium,Low
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,562,Portugal,35,92,92,92,Juventus,...,93,81,89,35,77,4,5,5,High,Low
2,200389,J. Oblak,Jan Oblak,150,Slovenia,27,93,91,91,Atlético Madrid,...,92,78,90,52,90,3,1,3,Medium,Medium
3,192985,K. De Bruyne,Kevin De Bruyne,207,Belgium,29,91,91,91,Manchester City,...,86,93,88,64,78,5,4,4,High,High
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,595,Brazil,28,91,91,91,Paris Saint-Germain,...,85,86,94,36,59,5,5,5,High,Medium

Save complete dataframe to file

In [121]:
fifa.to_csv(r"C:\Users\T. Barnes\Documents\Data Science\DataCleaningChallenge\Worked_on\fifa21_data.csv", index=False)

# The End